body,h1,h2,h3,h4,h5,h6{
	font-family: 'Times New Roman', Times, serif;
}

body,html{
	height: 100%;
	line-height: 1.8;
}

/*full height image header*/
.bgimg-1{
	background-position: center;
	background-size: cover;
	background-image: url("../img/11.svg");
	min-height: 100%;
}

.bar .button{
	padding: 16px;
}
/*
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid grey;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
	
.logo img{
	float: left;
	width:150px;
	height:auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
position: absolute;
top: 50%;
left:50%;
transform:translate(-50%,-50%);
}
.title h1{
color: silver;
font-size: 50px;
}
.button{
	position: absolute;
top: 65%;
left:50%;
transform:translate(-50%,-50%);
}
.btn{
	border:1px solid white;
	padding:10px 30px;
	color: white;
	text-decoration:none;
	transition:0.6s ease ;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.container{
	width: 100%;
	height:100vh;
	background-image: url(../5.jpg);
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;
	display:flex;
	justify-content:center;
	align-items:center;
}
.main{
	background-color:silver;
}
h2 {
	padding:40px;
	text-transform:uppercase;
	color:#414141;
	font-weight:lighter;
}
input{
	height:50px;
	width:90%;
	border: auto;
	margin:0 auto;
	display:block;
}
input:hover,input:focus{
	color:#ff5722;
	outline:auto;
	border-bottom:2px solid #ff5722;
}
.email,.pwd{
	border-bottom:2px solid rgba(0,0,0,0.1);
	padding-left: 20px;
	text-transform:uppercase;
	color: #858585;
	font-weight: lighter;
	transition:0.5s all;
}
.forget{
	width:100%;
	text-align:center;
	padding: 20px;
}
.forget .link {
	text-decoration:none;
	text-transform:uppercase;
	color: #858585;
	font-weight: lighter;
	transition:0.5s all;
}
.btn{
	width:auto;
	display:auto;
	
}
button{
	cursor:pointer;
	width:250px;
	height:60px;
	border:none;
	text-transform:uppercase;
	color:#fff;
	transition:0.5s all;
}
button:nth-of-type(1){
	background-color: orange;
}
button:nth-of-type(2){
	background-color:#fff200;
}
button span{
	display:block;
	transform:translatex(0);
	transition:0.5s all;
}
button:hover span{
	transform:translatex(30px);
}



footer
{
	width:100%;
	background-color:#222;
	padding:60px 0px;
	
}

}
.title h1{
	font-size:32px;
	line-height:10px;
}
.title h2{
	font-size:16px;
	line-height:auto;
}
form{
	margin-top:50px;
}
.form-control{
	width:600px;
	background:transparent;
	border:none;
	outline:none;
	border-bottom:1px solid grey;
	color:white;
	font-size:18px;
	margin-bottom:16px;
	
}
input{
	height:45px;
	
}
form.submit{
	background-color:#ff5722;
	border-color:transparent;
	color:white;
	font-size:20px;
	letter-spacing:..2px;
	height:50px;
	margin-top:20px;
	transition:0.4s ease;
}
form.submit:hover{
	background-color:#f44336;
	cursor:pointer;
	
}
.search_box{
	position:absolute;
	bottom:90%;
	left:50%;
	transform:transparent(-50%,-50%);
	background-color:white;
	height:40px;
	border-radius:40px;
	padding:10px;
}
.input_box{
	border:none;
	outline:none;
	background:none;
	float:left;
	padding:0px;
	color:black;
	font-size:16px;
	transition:0.4s all;
	line-height:40px;
	width:0px;
}
.btn1{
	color:orange;
	float:right;
	text-decoration:none;
	width:40px;
	height:30px;
	line-height:50px;
	text-align:center;
	border-radius:50%;
}
.search_box:hover .input_box{
	width:240px;
	padding:0 6px;
	
}
.search_box:hover .btn1{
	background-color:grey;
}
#login-box{
	position:relative;
	margin: 9% auto;
	width:600px;
	height:400px;
	background:silver;
	border-radius:2px;
	box-shadow:0 2px 4px rgba(0,0,0,0.4);
}

	

	



	

	
	

	

	
	

	
	